page-home {
    .tools{
        background: $red;
        color: $white;

        .toolbar-title{
            color: $white;
        }
    }

    .brand{
        width: 120px;
        margin: 0 auto;
    }

    .actions{
        display: flex;
    }

    .btn-scanner{
        width: 100%;
        height: 180px;
        margin: 10px;
        border: 1px solid $red;
        background: $white;
        font-family: 'Mina', Arial, sans-serif;
        font-size: 20px;
        color: $red;

        .icon-btn{
            font-size: 40px;
            margin: 10px;
        }

        &:active{
            background: $red;
            color: $white;
        }
    }

    .btn-photo{
        width: 100%;
        height: 180px;
        margin: 10px;
        border: 1px solid $blue;
        background: $white;
        font-family: 'Mina', Arial, sans-serif;
        font-size: 20px;
        color: $blue;

        .icon-btn{
            font-size: 40px;
            margin: 10px;
        }

        &:active{
            background: $blue;
            color: $white;
        }
    }
}
