// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* bengali */
@font-face {
    font-family: 'Mina';
    font-style: normal;
    font-weight: 400;
    src: local('Mina'), local('Mina-Regular'), url('../assets/fonts/Mina-Regular.woff2') format('woff2');
    unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Mina';
    font-style: normal;
    font-weight: 400;
    src: local('Mina'), local('Mina-Regular'), url('../assets/fonts/Mina-Regular.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Mina';
    font-style: normal;
    font-weight: 400;
    src: local('Mina'), local('Mina-Regular'), url('../assets/fonts/Mina-Regular-u.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@import "_variables";

.tabs{
    background: $red;

    .tabbar{
        background: $red;
        
        .tab-button{

            .tab-button-icon{
                color: $white;
            }

            &[aria-selected=true]{
                color: $blue;
                background: $blue;
    
                .tab-button-icon{
                    color: $white;
                }
            }
        }
    }
}